*{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	box-sizing: border-box;
	color: black;
}

span{
  color: white;
}

.jumbotron {
    background-color:#337ab7 !important;
    color: white !important;
}

.glyphicon{
  color: white !important;
}

.list-group-item{
    font-size: 20px;
    background-color: rgba(158, 158, 158, 0.26);
    padding: 10px;
    margin: 20px;

}

.media{
  margin: 10px;
}